.featured-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0; // Adjust padding as needed
    background-color: #ffffff; // Background color for the featured products section
  
    .title {
      text-align: center;
    }
  
    h1 {
      font-size: 3rem; 
      font-family: 'Lato';// Adjust font size as needed
      margin-bottom: 10px; // Adjust margin as needed
      font-weight: 800;
      color: black
    }
  
    p {
      font-family: 'Lato';
      font-weight: bold;
      font-size: 1.1rem; // Adjust font size as needed
      color: #000000; // Color for the description text
    }
  }
  